# Python setup
*venv*

# Python files
__pycache__/

# Environment variables
.env

# Ignore data output directories
SyntheticDataGeneration/Output/*.json
SyntheticDataGeneration/Output/Processed/

# Ignore model directories
LogisticRegression/models/

# ignore model checkpoints
*.pt
